<div class="row">
  <h2>TODO LIST</h2>
  <ul>
    <button (click)="getAddedTasks()" class="btn btn-warning">Nacinij aby pobrać zadania</button>
    <ng-container *ngFor="let task of addedTasks">
      <ng-container *ngIf="task.taskStatus==1">
        <li>
          <button (click)="moveToDeleteTask(task )" class="btn btn-danger">Delete</button>
          <button (click)="moveToDoneTask(task)" class="btn btn-success">Done</button>
          <h5>

            <br><a style="color: slategrey;font-weight: bold;font-style:normal ">{{'id: ' + task._id}}</a>
            <br>{{'NAME: ' + task.name}}
            <br>{{'STATUS: ' + task.taskStatus}}
          </h5>
        </li>
      </ng-container>


    </ng-container>
  </ul>
</div>
