<div class="toolbar" role="banner">
  <div class="card-container">
    <button (click)="selection.value = 'todo'" class="card card-small" style="background-color: inherit" tabindex="0">
      <svg height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path
            d="M17 2h3a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3V0h2v2h6V0h2v2zM7 8v2h10V8H7zm0 4v2h10v-2H7z"/>
        </g>
      </svg>
      <span>Todo list

      </span>
    </button>
  </div>
  <div class="card-container">
    <button (click)="selection.value = 'allegro'" class="card card-small" style="background-color: inherit"
            tabindex="0">
      <svg height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path
            d="M17 2h3a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3V0h2v2h6V0h2v2zM7 8v2h10V8H7zm0 4v2h10v-2H7z"/>
        </g>
      </svg>
      <span>Allegro

      </span>
    </button>

  </div>


</div>
<br>
<div class="content" role="main">
  <input #selection type="hidden">
  <div class="card-container">

  </div>
  <div class="card highlight-card card-small">



    <span>  <div [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ToDo App is Running</pre>
    <pre *ngSwitchCase="'allegro'">Allegro</pre>
  </div></span>

  </div>

</div>
