<div class="row">
  <h2>Deleted Tasks</h2>
  <ul>
    <button (click)="getDeletedTask()" class="btn btn-warning">Nacinij aby pobrać zadania</button>
    <ng-container *ngFor="let task of deletedTask">
      <ng-container *ngIf="task.taskStatus==3">
        <li>
          <button (click)="forceDeleteTask(task)" class="btn btn-danger">Delete</button>
          <button (click)="restoreTask(task)" class="btn btn-success">Restore</button>
          <h5>

            <br><a style="color: red">{{'id: ' + task._id}}</a>
            <br>{{'NAME: ' + task.name}}
            <br>{{'STATUS: ' + task.taskStatus}}
          </h5>
        </li>
      </ng-container>


    </ng-container>
  </ul>
</div>
