<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-md">
        <app-input-task (refreshTaskList)="getTaskFromDB()"></app-input-task>
        <div class="row">
          <button (click)="getTaskFromDB()" class="btn btn-success">Get</button>
        </div>
      </div>
      <div class="col-md">
        <app-added-task [addedTasks]="httpTaskList"></app-added-task>
      </div>
      <div class="col-md">
        <app-done-task [doneTasks]="httpTaskList"></app-done-task>
      </div>
      <div class="col-md">
        <app-deleted-task [deletedTasks]="httpTaskList"></app-deleted-task>
      </div>
      <div class="col-sm">
        <app-test-task [testTaskList]="httpTaskList"></app-test-task>
      </div>
    </div>
  </div>
</div>
