<ng-container *ngIf="checkStatus()" >
  <div class="container-sm">
    <ul>
      <div class="list-group-item-primary" style="border-radius: 10px">
        <ng-container *ngIf="doneTask!==undefined">
          <div class="row">
            <button (click)="deleteTask()" class="btn btn-danger">Delete</button>
            <button (click)="restoreTask()" class="btn btn-success">Restore</button>
          </div>
          <h5>
            <ul>
              <li>
                <a style="color: black">{{'TaskID:' + doneTask._id}}</a>
              </li>
              <li>
                {{'Name:' + doneTask.name}}
              </li>
              <li>
                {{'Task Status:' + doneTask.taskStatus}}
              </li>

            </ul>
          </h5>
        </ng-container>
      </div>
    </ul>
  </div>


</ng-container>

