
<ng-container *ngIf="checkStatus()">
  <ng-container *ngIf="doneTask!==undefined">
    <div class="card-container">
      <div class="float">
        <a class="card" rel="noopener" target="_blank">

          <table class="tab-content">
            <tr>
              <td class="tabMinWidth" style="text-decoration: line-through">
                {{doneTask.name}}
                {{doneTask.taskStatus}}
              </td>
              <td>
                <button (click)="restoreTask()" class="btn btn-primary"  style="width: 120px">
                  Restore
                  <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z"/>
                  </svg>
                </button>
                <button (click)="deleteTask()" class="btn btn-danger" style="width: 120px">Delete
                  <svg class="bi bi-trash-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </table>
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>

